body {
  background-color: rgb(218, 215, 215);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.box {
  position: relative;
  width: 60%;
  height: 90vh;
  border: 1px solid black;
  border-radius: 15px;
}
h1 {
  font-family: sans-serif;
  position: absolute;
  left: 170px;
  bottom: 730px;
  color: #0a3871;
}
p {
  position: absolute;
  left: 170px;
  bottom: 100px;
  color: gray;
}
#texto {
  position: absolute;
  padding-top: 100px;
  width: 700px;
  height: 300px;
  padding: 0 10px;

  left: 150px;
  top: 200px;

  font-size: 20px;
  border: 1px solid black;
  outline: none;
  border-radius: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  resize: none;
}

.botaoEncriptar {
  position: absolute;
  width: 328px;
  height: 50px;
  background-color: #0a3871;
  left: 150px;
  bottom: 50px;
  border-radius: 15px;
  color: white;
  font-size: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  outline: none;
}

.botaoDecriptar {
  position: absolute;
  width: 328px;
  height: 50px;
  background-color: #d8dfe8;
  color: black;

  left: 550px;
  bottom: 50px;
  border-radius: 15px;
  border: 1px solid black;
  font-size: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  outline: none;
}
.botaoCopiar {
  position: absolute;
  width: 328px;
  height: 50px;
  background-color: white;

  left: 1040px;
  bottom: 50px;
  border-radius: 15px;
  border: 1px solid black;
  color: black;
  font-size: 15px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  outline: none;
}
.saidaTexto {
  position: absolute;
  width: 328px;
  height: 544px;
  font-size: 20px;
  padding: 0 10px;
  background-color: white;
  top: 100px;
  right: 150px;

  border-radius: 15px;
  color: grey;
  padding-top: 10px;
  outline: none;
  resize: none;
}
